<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projeto de DesSoft</title>
  </head>
  <body style= "background-color: black;">
    <h1><font face="courier new" color="#00cc00">Text Summarization using Python</h1>
    <h3>Bugs são esperados! Colabore melhorando o código no <a href="https://github.com/caioesr/proj3t0_DesS0ft" target="_blank">Git</a></h3>
    <p>OBS.: textos com caracteres especiais (e.g. ã, é, ç) provavelmente não serão lidos por problemas internos da máquina</p>
    <h3>Entre com uma URL pra resumir páginas da Web:</h3>
    <form action="/summarized", method="POST">
      URL:<br>
      <input type="text" name="url"><br><br>
      <input type="submit" value="Submit"><br><br>
    </form>
    <h3>Você também pode resumir arquivos de texto:</h3>
    <p>Sinta-se livre para testar os dois algoritmos e escolher o que mais lhe agrada:</p><br>
    <form action="/summarized_file", method="POST">
      Drop o seu arquivo aqui:<br>
      <input type="file" name="myfile"><br><br>
      <input type="submit" value="Submit"><br><br>
    </form>
    <h3>Caso seu arquivo esteja em outro idioma traduza-o:</h3>
    <form action="/translated", method="POST">
      Traduzir:<br>
      <input type="file" name="myfile3"><br><br>
      <input type="submit" value="Submit"><br><br>
    </form>
    <h5>Todos os créditos aos criadores: <a href="https://www.linkedin.com/in/caioesr/" target="_blank">Caio Emmanuel</a>, <a href="https://www.instagram.com/marcomrt_/?hl=pt-br" target="_blank">Marco Túlio</a> e <a href="https://www.instagram.com/gabrielalmeida._/" target="_blank">Gabriel Paiva</a></h5>
    <h5>E claro, a mentoria e apoio de <a href="http://kurauchi.com.br/pt/" target="_blank">Andrew Toshiaki</a>
  </body>
</html>
